.App {
  font-family: sans-serif;
}

.configuration-pane {
  padding: 0.5em 0.75em;
}

.output-pane {
}

.output-table {
  padding: 0.5em 0.75em;
  background-color: #e9ecef;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.tmid {
  margin: 0px auto;
}
