.App {
  font-family: sans-serif;
}

.configuration-pane {
  width: 420px;
}

.output-pane {
  background-color: #e9ecef;
  margin: 0.5rem;
  padding: 0.5em 0.75em;
  width: 520px;
  display: inline-block;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.tmid {
  margin: 0px auto;
}
